<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard <sup>2025</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Home -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Nav Item - Transparansi Data -->
            <li class="nav-item">
                <a class="nav-link" href="/transparansi_data">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Transparansi Data</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">




        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Home</h1>
                    </div>

                    <div class="row">

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Latar Belakang</h6>
                                    <p></p>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at justo odio. Pellentesque pharetra posuere scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor enim sit amet urna egestas porta. Nulla id convallis ligula. Suspendisse placerat dui sit amet arcu dictum, sed lobortis elit maximus. Integer eget nunc vehicula, rhoncus augue dapibus, mattis turpis. Cras consectetur congue lobortis.
                                    </p>
                                    <p>
                                        Pellentesque ornare libero quis justo dignissim, et lobortis felis luctus. In varius eleifend libero ac mollis. Morbi condimentum quis tortor at euismod. Nam semper felis nunc, ac ullamcorper velit interdum nec. Sed hendrerit nunc id fringilla accumsan. Vestibulum porta aliquet nulla eu dignissim. Morbi finibus metus vel orci convallis gravida. Phasellus ex mauris, laoreet vitae egestas sed, tempor sit amet magna. Mauris a sapien gravida, sagittis felis vel, malesuada urna.
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>



            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <!-- Page level custom scripts -->             
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById("universityChart").getContext("2d");
        var universityChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    "Universitas Gadjah Mada",
                    "Universitas Airlangga",
                    "Institut Teknologi Bandung",
                    "Universitas Brawijaya",
                    "Hoshi University",
                    "National Cheng Kung University",
                    "Tohoku University",
                    "Oita University",
                    "Flinders University"
                ],
                datasets: [{
                    label: "University Counts",
                    backgroundColor: "#4e73df",  // Bar color
                    hoverBackgroundColor: "#2e59d9",  // Hover color
                    borderColor: "#4e73df",  // Border color
                    data: [2, 2, 1, 1, 1, 1, 1, 1, 1],  // Data for University Counts
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'category'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 9
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 2,
                            maxTicksLimit: 5,
                            padding: 10,
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function(tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + ' Universities';
                        }
                    }
                },
            }
        });
    });
</script>
<script>
    var ctx = document.getElementById("jabatanFungsionalChart");
    var jabatanFungsionalChart = new Chart(ctx, {
        type: 'pie',  // Change type to 'pie' for a regular pie chart
        data: {
            labels: ["Lektor", "Lektor Kepala", "Profesor"],  // Labels for chart sections
            datasets: [{
                data: [2, 1, 8],  // Data for Lektor, Lektor Kepala, Profesor
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],  // Colors for each section
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],  // Hover colors
                hoverBorderColor: "rgba(234, 236, 244, 1)",  // Border color on hover
            }],
        },
        options: {
            maintainAspectRatio: false,  // Ensure the chart maintains its aspect ratio
            tooltips: {
                backgroundColor: "rgb(255,255,255)",  // Background color of tooltips
                bodyFontColor: "#858796",  // Font color in tooltips
                borderColor: '#dddfeb',  // Border color for tooltips
                borderWidth: 1,  // Border width for tooltips
                xPadding: 15,  // Horizontal padding for tooltips
                yPadding: 15,  // Vertical padding for tooltips
                displayColors: false,  // Disable color display in tooltip
                caretPadding: 10,  // Padding between tooltip and chart
            },
            legend: {
                display: false,  // Hide the legend
            },
        },
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById("top5SKSChart");
        var top5SKSChart = new Chart(ctx, {
            type: 'bar',  // Set the chart type to 'bar'
            data: {
                labels: [
                    "Herri Trilaksana",
                    "Dwi Setyawan",
                    "Koko Srimulyo",
                    "Bambang Suharto",
                    "Sri Endah Nurhidayati",
                ],  // Names of individuals
                datasets: [{
                    label: "Total SKS",  // Label for the dataset
                    backgroundColor: '#4e73df',  // Color of the bars
                    hoverBackgroundColor: '#2e59d9',  // Hover color
                    borderColor: '#4e73df',  // Border color
                    data: [333, 316, 283, 265, 259],  // Total SKS for each person
                }],
            },
            options: {
                maintainAspectRatio: false,
                indexAxis: 'y',  // Ensures the chart is horizontal (by setting the axis to 'y')
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,  // Start the x-axis at 0
                        ticks: {
                            maxTicksLimit: 5,  // Limit the number of ticks on x-axis
                        }
                    },
                    y: {
                        beginAtZero: true,  // Start the y-axis at 0
                        ticks: {
                            padding: 10,
                        }
                    },
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function(tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.xLabel + ' SKS';  // Tooltip showing 'SKS'
                        }
                    }
                },
                legend: {
                    display: false  // Disable the legend
                },
            },
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById("top5KategoriPenelitian");
        var top5KategoriPenelitianChart = new Chart(ctx, {
            type: 'bar',  // Bar chart (horizontal bars)
            data: {
                labels: [
                    "Lain-lain", 
                    "Pengabdian masyarakat", 
                    "Penelitian", 
                    "Jurnal internasional bereputasi", 
                    "Jurnal nasional terakreditasi"
                ],  // Names of categories
                datasets: [{
                    label: "Jumlah",  // Label for the dataset
                    backgroundColor: '#4e73df',  // Color of the bars
                    hoverBackgroundColor: '#2e59d9',  // Hover color
                    borderColor: '#4e73df',  // Border color
                    data: [436, 168, 163, 151, 73],  // Data for each category
                }],
            },
            options: {
                maintainAspectRatio: false,
                indexAxis: 'y',  // Makes the chart horizontal (by setting the axis to 'y')
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,  // Start the x-axis at 0
                        ticks: {
                            maxTicksLimit: 5,  // Limit the number of ticks on x-axis
                        }
                    },
                    y: {
                        beginAtZero: true,  // Start the y-axis at 0
                        ticks: {
                            padding: 10,
                        }
                    },
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function(tooltipItem, chart) {
                            // Get the value dynamically from the 'data' array
                            var total = chart.data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            return 'Jumlah: ' + total;  // Show the number of each category
                        }
                    }
                },
                legend: {
                    display: false  // Disable the legend
                },
            },
        });
    });
</script>


</html>
